<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="styles/cyto.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.28.1/cytoscape.min.js" integrity="sha512-RcuA+PEnJcg1caTn53YLhZ3bYVFXphzcPL1BjBoAwFiA3bErav+AndZz1xrqpAtv/8Waep2X+9zn8KWpwacUSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- <script src="
      https://cdn.jsdelivr.net/npm/cytoscape-node-html-label@1.2.2/dist/cytoscape-node-html-label.min.js
      "></script> -->
      <script src="libs/cytoscape-node-html-label.min.js"></script>
    
      <!-- <script src="https://unpkg.com/webcola/WebCola/cola.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/cytoscape-cola@2.5.1/cytoscape-cola.min.js"></script> -->
      <script src="libs/cola.min.js"></script>
      <script src="libs/cytoscape-cola.js"></script>
     
      <!-- d3Force -->
      <!-- <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
      <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
      <script src="https://d3js.org/d3-timer.v1.min.js"></script>
      <script src="https://d3js.org/d3-force.v2.min.js"></script>
      <script>
        window['d3-force'] = d3
      </script> -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/cytoscape-d3-force@1.1.4/cytoscape-d3-force.min.js"></script> -->
<!-- cise -->
      <!-- <script src="https://unpkg.com/layout-base@1.0.2/layout-base.js"></script> -->
      <!-- <script src="https://unpkg.com/avsdf-base/avsdf-base.js"></script>
      <script src="https://unpkg.com/cose-base@1.0.3/cose-base.js"></script> -->
      <!-- <script src="https://unpkg.com/cytoscape-graphml/cytoscape-graphml.js"></script> -->
      <!-- <script src="https://raw.githack.com/iVis-at-Bilkent/cytoscape.js-layvo/unstable/cytoscape-layvo.js"></script> -->
      <!-- <script src="
      https://cdn.jsdelivr.net/npm/cytoscape-cise@1.0.0/cytoscape-cise.min.js
      "></script> -->
<!-- cose-bilkent -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/shim.min.js"></script>
      <script src="https://unpkg.com/layout-base/layout-base.js"></script>
      <script src="https://unpkg.com/cose-base/cose-base.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/cytoscape-cose-bilkent@4.1.0/cytoscape-cose-bilkent.min.js"></script> -->
<!-- dagre -->
      <!-- <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.5.0/cytoscape-dagre.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/shim.min.js"></script> -->
<!-- avsdf -->
      <!-- <script src="https://unpkg.com/layout-base/layout-base.js"></script>
      <script src="https://unpkg.com/avsdf-base/avsdf-base.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/cytoscape-avsdf@1.0.0/cytoscape-avsdf.min.js"></script> -->
  <!-- klay -->  
      <!-- <script src="https://unpkg.com/klayjs@0.4.1/klay.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/cytoscape-klay@3.1.4/cytoscape-klay.min.js"></script> -->
      <script src="libs/klay.js"></script>
      <script src="libs/cytoscape-klay.js"></script>
      <!-- ngraph -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/cytoscape-ngraph.forcelayout@1.4.0/cytoscape-ngraph.forcelayout.min.js"></script> -->
 <!-- spread -->

<!-- springy -->
      <!-- <script src="https://cdn.rawgit.com/dhotson/springy/2.7.1/springy.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/cytoscape-springy@1.4.2/cytoscape-springy.min.js"></script> -->
      <!-- tidytree -->
         <!-- <script src="https://cdn.jsdelivr.net/npm/cytoscape-tidytree@0/dist/cytoscape-tidytree.js"></script> -->
         <script src="libs/cytoscape-tidytree.js"></script> 
         <!-- <script src="https://cdn.jsdelivr.net/npm/cytoscape-cise@1.0/cytoscape-cise.min.js"></script> -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/cytoscape-cose-bilkent@4.1.0/cytoscape-cose-bilkent.min.js"></script> -->
      <!-- <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
      <script src="cytoscape-node-html-label.js"></script> -->
     <!-- <script href="http://localhost:3000/node_modules/cytoscape-html-node/dist/main.bundle.js"></script> -->
    
    <!-- <script type="module">
            import * as htmlNode  from "http://localhost:3000/cytoscape-html-node/dist/main.bundle.js"
            window.htmlNode = htmlNode
     </script> -->
     <!-- <script src="https://code.jscharting.com/latest/jscharting.js"></script> -->
     <script src="libs/jscharting.js"></script>
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.js"></script> -->
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script> -->
     <link rel="stylesheet" href="libs/nouislider.css">
     <script src="libs/nouislider.min.js"></script>

     <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
     <script src="libs/flatpickr.min.js"></script>
</head>
<body>