main {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  /* color:beige */
  color: #757576;
}
#cy {
  width: 100%;
  height: 100%;
  display: block;

  background-color: rgb(15, 15, 28);
}

.header2-ctn {
  display: flex;
  position: absolute;
  right: 14rem;
}
i {
  color: #757576;
  padding: 0.3rem;
}
i:hover {
  color: beige;
}

.cy-title__p1 {
  color: rgb(155, 164, 155);
}
.cy-title__p2 {
  color: beige;
}

.footer-ctn {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  left: 1rem;

  display: flex;
  justify-content: center;
  /* flex-direction: row-reverse; */
}
#center-btn:hover .hover-footer-text {
  display: block;
}
#export-btn:hover .hover-footer-export {
  display: block;
  left: -55%;
  right: -55%;
  display: flex;
  flex-direction: column;
}
#center-btn:hover i {
  color: beige;
}
#export-btn:hover i {
  color: beige;
}
#compass-btn:hover i.fa-compass {
  color: beige;
}
#compass-btn:hover .hover-footer-compass {
  display: block;
  width: 6rem;
  height: 6rem;
  left: -55%;
  right: -55%;
}
.hover-footer-export div:hover {
  color: white;
}
.hover-footer-compass div i:hover {
  color: beige;
}
.hover-footer-compass #compass-up {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  font-size: 6rem;
}
.hover-footer-compass #compass-down {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  left: 0;
}
.hover-footer-compass #compass-left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
}
.hover-footer-compass #compass-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
}
#graph-btn:hover .hover-footer-graph {
  display: block;
  left: -20%;
  right: -20%;
}
.hover-footer-ctn {
  position: absolute;
  bottom: 3rem;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
}
.hover-footer {
  position: absolute;
  bottom: 2rem;
  padding: 0.3rem;
  color: #757576;
  display: none;
  background-color: #2d3a45a0;
}
.hover-footer-text {
  left: -45%;
  right: -45%;
}
.hover-footer-graph {
  left: -20%;
  right: 0;
}

.side-popup {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d0dbe5a0;
  /* background-color:#2d3a45a0 */
}
.side-ads-popup {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-ads-popup .side-dim {
  width: 500px;
  height: 400px;
  background-color: #d0dbe5a0;
}
.side-product-popup {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-product-popup .side-dim {
  width: 500px;
  height: 400px;
  background-color: #d0dbe5a0;
}
.hidden {
  display: none !important;
}
.focus {
  color: beige !important;
  font-weight: bold;
}
/* .side-contact-popup{
position: absolute;
bottom:0;
top:0;
right:8rem;
display:flex;
flex-direction: column;
justify-content: center;
} */
.side-contact-popup .side-dim {
  width: 300px;
  height: 200px;
}
.side-contact-popup .side-dim .delete-bar {
  background-color: #d0dbe5a0;
}
#mydiv {
  position: absolute;
  left: 30rem;
  top: 10rem;
  z-index: 9;
  background-color: #2d30468c;
  border: 1px solid #d3d3d3;
  text-align: center;
}
#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #495065c4;
  color: #fff;
  position: relative;
}
.drag-ctn {
  padding: 0.4rem;
  height: 16rem;
  overflow-y: scroll;
  max-width: 22rem;
}
.drag-ctn::-webkit-scrollbar {
  display: none;
}

.drag-item {
  display: flex;
  align-items: center;
}
.drag-item span {
  color: beige;
}
.compress {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
}
.compress-remove {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  left: 0.5rem;
}

.header-item:hover i {
  color: beige;
}
.data-list-container h2 {
  font-size: medium;
  color: beige;
}
.header2-ctn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  left: 0;
}
.header-item2 {
  background-color: transparent;
  border: 0.1rem solid #757576 !important;
  color: #757576;
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0.2rem;

  display: flex;
}
.header-item2:hover i {
  color:beige
}
/* .header-item-user {
  display: flex;
  align-items: center;
  background-color: #757576;
  margin: 0.2rem;
  border-radius: 3rem;
  position: relative;
} */

.header-search {
  display: flex;
}
.header-search input {
  background: transparent !important;
  color: beige;
  border: none;
}
.header-search button {
  background: transparent !important;
  border: none;
}
.error-id {
  position: absolute;
  top: 6rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.error-id span {
  background-color: beige;
  color: rgb(48, 48, 49);
  padding: 0.2rem;
}
.error-id span i {
  color: rgb(113, 36, 36);
}
#mydiv2 {
  position: absolute;
  left: 0rem;
  top: 10rem;
  z-index: 9;
  background-color: #2d30468c;
  border: 1px solid #d3d3d3;
  text-align: center;
}
.mydiv2 {
  position: absolute;
  left: 0rem;
  top: 10rem;
  z-index: 9;
  background-color: #2d30468c;
  border: 1px solid #d3d3d3;
  text-align: center;
  display: flex;
}
#mydiv2header2 {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #495065c4;
  color: #fff;
  position: relative;
}
i#direction {
  color: #7d7d81c4;
}
i#direction:hover {
  color: #ececf0c4;
}

.sidebar-ctn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header1-ctn {
  position: absolute;
  /* width: 100%; */
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}
#header-item-help:hover {
  background-color: rgba(124, 124, 126, 0.595) !important;
  color: beige !important;
}
.header-item {
  cursor: pointer;
  background-color: transparent;
  /* color:rgb(214, 214, 143); */
  color: #757576;
  border: 0;
  padding: 4px 8px;
  position: relative;
  display: flex;
  text-decoration: none;
}
.header-item:hover {
  background-color: rgba(124, 124, 126, 0.595) !important;
  color: beige !important;
}
#header-item .popup {
  position: absolute;
  display: none;
  top: 2rem;
  right: 0%;
  left: 0%;
  color: #808181;
  /* display:none; */
  background-color: rgba(124, 124, 126, 0.595) !important;
}
#header-item:hover .popup {
  display: block;
}
.popup p:hover {
  color: beige;
}
#chart-container{
  width: 100% !important;
  height:70% !important;
  /* background-color: #495065c4 ; */
}
#dateSlider {
  margin-top: 40px;
 margin-right: 2rem;
  width: 80%;height: 4px;
 
}
.hidden{
  display: none;
};
.shown{
  display: block
}
.jsc_titleText {
  fill: #333333; /* Title text color */
  font-size: 24px; /* Title font size */
  font-weight: bold; /* Title font weight */
}
/* .noUi-handle{
  display: none;
} */
.custom-handle {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Set cursor to pointer for interaction */
  background-color: #007bff; /* Set the background color */
  position: absolute; /* Set position to absolute to position it correctly */
  transform: translate(-50%, -50%); /* Center the handle */
}

.noUi-handle {
  width: 20px !important; /* Set the width */
  height: 20px !important; /* Set the height */
  border-radius: 50% !important; /* Make it circular */
  background-color: #007bff00 !important; /* Set the background color */
  border: 2px solid #0056b3; /* Add a border */
  cursor: pointer; /* Set cursor to pointer for interaction */
  top: -4px; /* Adjust position if necessary */
}
/* Add a shadow */
.noUi-handle {
  box-shadow: 0 0 5px rgba(235, 24, 24, 0.8);
}

/* Different shape for the first handle */
.noUi-handle-lower {
  background-color: #878787 !important;
}

/* Different shape for the second handle */
.noUi-handle-upper {
  background-color: #878787 !important;
}
 /* Style for the selected range */
.noUi-connect {
  background: #878787 !important; /* Selected range color */
}
 /* Style for the non-selected range */
 .noUi-base {
  background: #f1f0f0 !important; /* Non-selected range color */
}

        /* Ensure tooltips don't overlap */
.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  transform: translateX(-100%) !important; /* Adjust the position of the lower handle's tooltip */
  /* transform: translateY(200%)  !important; */
}
.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  transform: translateX(0%); /* Adjust the position of the upper handle's tooltip */
  /* transform: translateY(150%); */
}

.noUi-tooltip {
  background: #f1f0f0  !important; /* Tooltip background color */
  color: rgb(79, 79, 80) !important; /* Tooltip text color */
  border-radius: 4px; /* Tooltip border radius */
  padding: 5px; /* Tooltip padding */
  white-space: nowrap; /* Prevent tooltip text from wrapping */
  font-size: 12px; /* Tooltip font size */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for better visibility */
}

.chart-ctn{
  background-color: rgba(64, 67, 94, 0.736);
  background-image: url('/images/loading.gif') ;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: 50px 50px;
  position: absolute;
  left: 10%;
  right:10%;
  top:10%;
  bottom:10%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.no-price-popup{
  position: absolute;
  left:30%;
  right:30%;
  top:4rem;
  background-color: rgba(64, 67, 94, 0.736);
  padding: 1rem;
  display: flex;
  justify-content:center
}

/* #timeSlider {
  margin: 20px;
  width: 800px;
}
.rangeslider__handle {
  text-align: center;
  line-height: 2em;
} */

/* .header-item-user .popup {
  position: absolute;
  display: block;
  top: 2rem;
  right: -50%;
  left: -250%;
  border-radius: 10px;
  color: #808181;
  background-color: rgba(124, 124, 126, 0.595) !important;
} */
/* #header-item-user:hover .popup{
display: block;
} */
/* #header-item-user i:hover .popup{
display: block;
} */
/* .popup-item-user{
border-bottom: 2px solid rgb(46, 45, 45);
margin:0
} */
/* .popup p:hover {
color:beige; 
} */
